{% extends 'pages/layout.twig' %}

{% block pageContent %}
    <main id="main">

        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>{{ user.getFirstname() }}</h2>
                    <ol>
                        <li><a href="home">User </a></li>
                        <li>Contact</li>
                    </ol>
                </div>
            </div>
        </section><!-- End Breadcrumbs Section -->

        <div class="container">
            <section>
                <h2>Recent gekochte tickets</h2>
                <div class="card-deck">
                    {% if tickets|length !=  0 %}
                        {% for ticket in tickets %}
                            <div class="card" style="max-width: 20rem">
                                <div class="card-body">
                                    <h4 class="card-title">{{ ticket.getName() }}</h4>
                                    <div class="card-img-top ">
                                        <img class="img-thumbnail" src="../assets/img/{{ ticket.getEventID() }}.jpg"
                                             alt="{{ ticket.getEventID() }}" title="{{ ticket.getEventID() }}"/>
                                    </div>
                                    <div class="card-text">
                                        <p>Start: {{ ticket.getStart() }}</p>
                                        <p>Locatie: {{ ticket.getLocation() }}</p>
                                        <p>Verkoper: {{ ticket.getSellerName() }}</p>
                                        <p>€{{ ticket.getPrice() }}</p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    {{ ticket.getBuyDate }}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>U heeft nog geen tickets gekocht</p>
                    {% endif %}
                </div>
            </section>
            <div class="row">
                <section class="col-6">
                    <h4>Persoonlijke informatie</h4>
                    <form action="detail/updateData" method="POST" novalidate="" role="form" class="php-email-form">
                        <div>
                            <input type="text" class="form-control mt-2" placeholder="Naam" name="name"
                                   value="{{ user.getFirstName() }}"/>
                        </div>
                        <div>
                            <input type="text" class="form-control mt-2" placeholder="Achternaam" name="last_name"
                                   value="{{ user.getLastname }}"/>
                        </div>
                        <div>
                            <input type="email" class="form-control mt-2" placeholder="Email" name="email"
                                   value="{{ user.getEmail }}"/>
                        </div>
                        <div>
                            <input type="text" class="form-control mt-2" placeholder="Address" name="address"
                                   value="{{ user.getAddress().getAddress() }}"/>
                        </div>
                        <div>
                            <input type="text" class="form-control mt-2" placeholder="City" name="city"
                                   value="{{ user.getAddress().getCity() }}"/>
                        </div>
                        <div>
                            <select id="country" name="country" class="form-control mt-2">
                                <option value="">Select country</option>
                                {% for country in countries %}
                                    <option {% if user.getAddress().getCountry() == country %} selected {% endif %}value="{{ country }}">{{ country }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-control mt-2">
                            <p>Uitgenodigde vrienden: {{ user.getFriendsInvited }}</p>
                        </div>
                        <div class="form-control mt-2">
                            <p>Verkochte tickets: {{ user.getTicketsSold }}</p>
                        </div>
                        <div  class="form-control mt-2 form-group">
                            <p>Gekochte tickets: {{ user.getTicketsBought }}</p>
                        </div>
                        <div>
                            <button class='btn btn-primary' value="update" name="update" type="submit">Update info</button>
                        </div>
                    </form>
                </section>
                <section class="col-6">
                    <h4>Vrienden uitnodigen</h4>
                    <form action="user/detail/updateData" method="POST" novalidate="" role="form" class="php-email-form">
                        <div>
                            <input type="text" class="form-control mt-2" placeholder="Naam vriend" name="name_friend"/>
                        </div>
                        <div>
                            <input type="text" class="form-control mt-2" placeholder="Achternaam vriend" name="last_name_friend"/>
                        </div>
                        <div>
                            <input type="email" class="form-control mt-2 form-group" placeholder="Email vriend" name="email_friend"/>
                        </div>
                        <div>
                            <button class='btn btn-primary' value="invite" name="invite" type="submit">Nodig vriend uit</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>

    </main><!-- End #main -->

{% endblock %}