<div>
    <p style="color: red;">Gelieve een  {{ fName == '' ? 'Naam, ' : '' }}
                    {{ lastName == '' ? 'Achternaam, ' : '' }}
                    {{ address == '' ? 'Adres, ' : '' }}
                    {{ number == '' ? 'Huisnummer, ' : '' }}
                    {{ city == '' ? 'Gemeente/ Stad, ' : '' }}
                    {{ postal == '' ? 'Postcode, ' : '' }}
                    {{ country == '' ? 'Land' : '' }}
         In te vullen aub.
    </p>
</div>