<div>
    <form action="/create/event/search" method="POST" novalidate>
        <div class="form-group d-flex flex-column">
            <label for="existingEventAutocomplete">Zoek een bestaand evemenement</label>
            <input type="text" id="term" name="term" value="{{ term }}" placeholder="Zoek evenement" class="form-control">
        </div>
        <div class="form-group d-flex">
            <input type="hidden" name="moduleAction" value="createTicketSearch">
            <input type="submit" name="search" id="search" class="btn btn-warning" value="zoek evenement">
        </div>
    </form>
</div>

<div id="resultEvents" class="">
    <!-- HIER KOMEN ALLE GEVONDEN EVENEMENTEN -->
    {% if events|length != 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Locatie</th>
                    <th>Start</th>
                    <th>Einde</th>
                    <th>Acties</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.getName() }}</td>
                        <td>{{ event.getLocation() }}</td>
                        <td>{{ event.getStartDate() }}</td>
                        <td>{{ event.getEndDate() }}</td>
                        <td><input type="checkbox" id="{{ event.getId() }}" onchange="changeSelected({{ event.getId() }})"></td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    {% else %}
        <article>
            <p>Geen evenementen gevonden</p>
        </article>
    {% endif %}
</div>


