{% extends 'pages/layout.twig' %}

{% block pageContent %}
<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Contact</h2>
                <ol>
                    <li><a href="home">Home</a></li>
                    <li>Contact</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
        <div class="container contact">
            <div class="section-title">
                <h2>Contact</h2>
                <p>Heeft u een vraag of opmerking over ons platform? Via onderstaand contactformulier kan u ons altijd bereiken. Wij doen er alles aan om uw vraag/ opmerking zo spoedig mogelijk te beantwoorden.</p>
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 info" data-aos="fade-up">
                            <i class="bx bx-map"></i>
                            <h4>Adres</h4>
                            <p>Gebr. Desmetstraat 1<br>9000, Gent</p>
                        </div>
                        <div class="col-lg-6 info" data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-phone"></i>
                            <h4>Bel ons</h4>
                            <p>+32 5589 55488 55<br>+32 5589 22548 64</p>
                        </div>
                        <div class="col-lg-6 info" data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-envelope"></i>
                            <h4>Email Ons</h4>
                            <p>moise@ticketswap.be<br>jonathan@ticketswap.be</p>
                        </div>
                        <div class="col-lg-6 info" data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-time-five"></i>
                            <h4>Klantendienst</h4>
                            <p>Ma tot Vrij: 9:00 - 17:00<br>Za, Zon/feestdagen: Gesloten</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <form action="contact" method="POST" novalidate="" role="form" class="php-email-form" data-aos="fade-up">
                        <div class="form-group">
                            <input placeholder="Uw naam" type="text" name="name" class="form-control" id="name" value="{{name}}"/>
                            {% if errors['name'] is not empty  %}<div style="font-size: 0.75rem; color: red" class="errorMsg">{{ errors['name'] }}</div>{% endif %}
                        </div>
                        <div class="form-group">
                            <input placeholder="Uw emailadres" type="email" class="form-control" name="email" id="email" value="{{email}}"/>
                            {% if errors['email'] is not empty  %}<div style="font-size: 0.75rem; color: red" class="errorMsg">{{ errors['email'] }}</div>{% endif %}
                        </div>
                        <div class="form-group">
                            <input placeholder="Onderwerp" type="text" class="form-control" name="subject" id="subject" value="{{subject}}"/>
                            {% if errors['subject'] is not empty  %}<div style="font-size: 0.75rem; color: red" class="errorMsg">{{ errors['subject'] }}</div>{% endif %}
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Bericht" class="form-control" name="message" rows="5">{{message}}</textarea>
                            {% if errors['message'] is not empty  %}<div style="font-size: 0.75rem; color: red" class="errorMsg">{{ errors['message'] }}</div>{% endif %}
                        </div>
                        <div class="text-center"><button value="submit" name="submit" type="submit">Verzend bericht</button></div>
                        <div>
                            {% if filled > 0 and filled < 4%}<div style="font-size: 0.75rem; color: red">Niet alles is ingevuld</div>{% endif %}
                            {% if filled == 4 %}<div style="color: green">Uw bericht is verzonden! Bedankt!</div>{% endif %}
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->

{% endblock %}